h1{
    text-align: center;
    color:darksalmon;
    padding: 20px;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


nav{
    height: 100px;
    background-color:darksalmon;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0px;
}
.logo{
    font-size: 36px;
    font-weight: bold;}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #000;
    transition: 0.2s ease-in;
    font-size: 18px;
}
nav ul a:hover{
    background-color: darksalmon;
    color: white;
}


.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 20px;
    grid: column gap 30px;
    grid:row gap 30px;
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}
.item img:hover{
    transform: scale(1.04);
}
.item h3{
    padding: 5px;
    text-align: center;
}
.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: darksalmon;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}
.item button:hover{
    transform: scale(1.08);
}
@media screen and (max-width: 1000px){
    .items{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 768px){
    .items{
        grid-template-columns: repeat(1,1fr);
    }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;

}


 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } 

 .container{
    max-width: 1170px;
    margin: auto;
 } 
 .row{
    display: flex;
    flex-wrap: wrap;
 }
 ul{
    list-style: none;
 }
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer1{
    width: 25%;
    padding: 0 15px;
}
.footer1 h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}
.footer1 h4::before{
    content:'' ;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:darksalmon;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer1 ul li:not(:last-child){
margin-bottom: 10px;
}
.footer1 ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer1 ul i {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}
.footer1 ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer1 .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;

}
.footer1 .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width: 767px){
    .footer1{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer1{
        width: 100%;
    }
}
